aside.main-sidebar
    section.sidebar
        ul.sidebar-menu
            li.header Admin Area
                li.treeview
                    a(href='#')
                        i.fa.fa-table
                        span Data Master
                        span.pull-right-container
                            i.fa.fa-angle-left.pull-right
                    ul.treeview-menu
                        li
                            a(href='/divisi') Divisi
                        li
                            a(href='#') Jabatan
                li.treeview
                    a(href='#')
                        i.fa.fa-table
                        span Keanggotaan
                        span.pull-right-container
                            i.fa.fa-angle-left.pull-right
                    ul.treeview-menu
                        li
                            a(href='#') Anggota
                        li
                            a(href='#') Kontribusi
                li.treeview
                    a(href='#')
                        i.fa.fa-linkrendering
                        span Pengaturan
                        span.pull-right-container
                            i.fa.fa-angle-left.pull-right
                    ul.treeview-menu
                        li
                            a(href='/users') Pengguna
                        li
                            a(href='#') Tampilan
                        li
                            a(href='#') Backup Database
            li.header Member Area
                li.treeview
                    a(href='#')
                        i.fa.fa-table
                        span Keanggotaan
                        span.pull-right-container
                            i.fa.fa-angle-left.pull-right
                    ul.treeview-menu
                        li
                            a(href='#') Profil
                        li
                            a(href='#') Kontribusi
